.featured-service {
    margin-top: 100px;
    background-color: #1a1a1a;
    height: 640px;
}
@media only screen and (max-width: 600px) {
    .featured {
        display: flex;
        flex-direction: column-reverse;
    }
    .featured h1 {
        font-size: 20px;   
    }
    .featured p {
        font-size: 12px;
        margin-bottom: 0;   
    }
}