.make-appointment {
    margin-top: 180px;
}
.make-appointment img {
    height: 550px;
    transform: translateY(-110px);
}


@media only screen and (max-width: 600px) {
     .app-sec {
         display: flex;
         flex-direction: column-reverse;
     }
    
}